%h2 Create Pet
%form{:action => "/pets", :method => "post", :role => "form"}
  %label{:for => "pet_name"}
    Name:
  %input{:id => "pet_name", :class => "form-control", :name => "pet[name]", :type => "text", :value => "Pet name"}
    = @pet.name
  %label{:for => "pet_description"}
    Description:
  %textarea{:id =>"pet_description", :name=>"pet[description]", :class => "form-control", :rows => "5"}
    = @pet.status
  %label{:for => "pet_status"}
    Status:
  %input{:id => "pet_status", :class => "form-control", :name => "pet[status]", :type => "text", :value => "Lost"}
    = @pet.status
  %button{ :type => "submit", :class => "btn btn-success"}
    Submit
