.jumbotron
  %h2 Rescue pet
  %p
    This is rescue pet dashboard. Click
    %a{href: "/pets"}
      here
    to see our pets.
  %p
    %a.btn.btn-primary.btn-lg AppStore
    %a.btn.btn-primary.btn-lg GooglePlay
