!!!
%html
  %head
    %title Rescue pet dashboard
    %link(rel="stylesheet" href="css/styles.css")
  %body
    #wrapper
      #header
        %h4 -- Header

      #content
        =yield

      #side_bar
        %h4 -- Sidebar

      #footer
        %h4 -- Footer
