!!!
%html
  %head
    %title Rescue pet dashboard
    %link(rel="stylesheet" href="/css/styles.css")
  %body
    #wrapper
      #header
        %a{:href => "/pets"}
          All pets
        %a{:href => "/pets/new"}
          Create new pet

      #content
        =styled_flash
        =yield

      #side_bar

      #footer
