<div class="content">
    <h3>Welcome to Hably!</h3>
    <p>Awesome way to automatically check code style of pull requests</p>
    <span>
      <img alt="GitHub icon" src="git.ico" />
      Git
      <img alt="GitHub icon" src="pull.ico" />
      Pull
      <img alt="GitHub icon" src="check.ico" />
      Check
    </span>
    <p><a href="auth/github" class="button [radius round]">Login with GitHub</a></p>
</div>
